* {
    font-family: system-ui, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.body {
    padding: 0 200px;
}

.subhead-left {
    font-size: 24px;

}

.subhead-right {
    color: #e5e7eb;
}

.one {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height:470px;
    padding: 105px 200px 105px 200px;
    gap: 50px;
}

.one-left, .one-right {
    flex: 1;
}

.one-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.one-text {
    font-size: 18px;
    color: #e5e7eb;
}

.one-sign {
    margin-top: 10px;
    border: #3882f6 2px solid;
}

.two {
    text-align: center;
}

.two-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 50px;
    margin-bottom: 40px;
}

.container2 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.info2 {
    margin: 30px;
}

.three {
    background-color: #e5e7eb;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-style: italic;

    font-size: 36px;
    color: #1f2937;
}

.thor {
    font-weight: bold;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background-color: #3882f6;
}

.blue3 {
    color: #f9faf8;
}

.blue4 {
    color: #e5e7eb;
}

.four-sign {
    border: #f9faf8 2px solid;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    height: 1000px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.two-img {
    border-radius: 10px;
    border: 5px solid #3882f6;
    width: 200px;
}
